version: '3.8'

services:
  consul:
    image: consul:1.15.4
    container_name: consul-server
    ports:
      - "8500:8500"
    command: agent -dev -client 0.0.0.0

  client-service:
    build: ./client
    container_name: client-service
    ports:
      - "8081:8081"
    environment:
      - SPRING_CLOUD_CONSUL_HOST=consul
      - SPRING_CLOUD_CONSUL_PORT=8500
      - SPRING_DATASOURCE_URL=jdbc:h2:mem:clientservicedb
    depends_on:
      - consul

  car-service:
    build: ./car
    container_name: car-service
    ports:
      - "8082:8082"
    environment:
      - SPRING_CLOUD_CONSUL_HOST=consul
      - SPRING_CLOUD_CONSUL_PORT=8500
      - SPRING_DATASOURCE_URL=jdbc:h2:mem:carservicedb
    depends_on:
      - consul

  gateway-service:
    build: ./gateway
    container_name: gateway-service
    ports:
      - "8888:8888"
    environment:
      - SPRING_CLOUD_CONSUL_HOST=consul
      - SPRING_CLOUD_CONSUL_PORT=8500
    depends_on:
      - consul
